.resume {
  font-family: Lato, 'Helvetica Neue', Arial, Helvetica, sans-serif;
  &__header {
    padding-left: 120px;
    padding-top: 20px;
    height: 150px;
    width: 100%;
    background-color: #003049;
    display: flex;
    color: #ffbf69;

    &--logo {
      height: 120px;
      width: 120px;
      border: 1px solid #ffbf69;
      border-radius: 60px;
      margin-right: 80px;
    }
  }

  &__label {
    padding-top: 10px;
    text-transform: uppercase;
    text-align: center;
    .resume__name {
      font-size: 35px;
      margin-bottom: 10px;
    }
    .resume__profile {
      padding-left: 10px;
      font-size: 15px;
    }
  }

  &__body {
    display: flex;
    &--left {
      height: 100vh;
      width: 35%;
      padding: 20px;
      border: 1px solid green;
      .social {
        border-bottom: 1px solid black;
        padding-bottom: 5px;
        .social-links {
          display: flex;
          .social-icons {
            height: 25px;
            width: 25px;
            border-radius: 12px;
            padding: 4px;
            background-color: #003049;
            margin-right: 20px;
            margin-bottom: 5px;
          }
          .social-label {
            font-size: 12px;
          }
        }
      }

      .skillset {
        &__label {
          color: #ffb703;
        }
      }
    }

    &--right {
      height: 100vh;
      width: 65%;
      padding: 20px;
      border: 1px solid green;
    }
  }
}
